<!DOCTYPE html>
<html>
<body>

<h1>Todos</h1>
<ul>
    {% for todo in todos %}
    <li>
        <input type="checkbox" name="done" "{% if todo ['done'] %} checked {%endif%} onchang=this.form.submit()" >
       <span{%if todo['done']%} style="text-decoration: lie-through" {%endif%}> {{todo['task']}}</span>
       <a href="{{  url_for('edit', index=loop.index0)  }}"> Edit</a>
       <a href="{{  url_for('delete', index=loop.index0)  }}"> Delete</a>
    </li>
    {% endfor %}
</ul> 
<form action="{{url_for('add')}}"   method="post">
    <input type="text" name = "todo">
    <button type="submit">Add todo</button>


<p>My first paragraph.</p>

</body>
</html>
